*{
    font-family: 'Open Sans', sans-serif;
}
body{
    margin: 0;
    padding:0;
}
.header{
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-bottom: 0;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.nav-title{
color: #181818;
font-size: 35px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
span{
    color: #FD6E0A;
}

li {
display: inline;
margin-left: 20px;
color: var(--dark-02, #474747);
font-family: Open Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
li  a{
    text-decoration: none;
    color:#474747;
    
}
.btn-nav{
color: var(--white-color, #FFF);
font-family: Open Sans;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 20px;
border-radius: 3px;
background: #FD6E0A;
border: none;
padding:7px 15px ;
}
.banner{
    margin-left: 85px;
    max-width: 500px;
}
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-banner{
text-align: center;
font-family: Open Sans;
font-size: 14px;
font-style: normal;
line-height: normal;
border-radius: 5px;
background: #FD6E0A;
border: none;
padding: 10px 15px;
color: #FFFFFF;
}
.btn-con{
    background: #FFF8F3;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    padding: 10px 15px;
    border-radius: 5px;
}
.banner-greeting{
    font-size: 25px;
    color: #474747;
    font-weight: 300px;
    margin-bottom: 0;
}
.banner-title{
    color:#181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0;
}
.banner-image img{
    margin: 0;
}
.about{
    border-radius: 10px;
    background: #FFF8F3;
    max-width: 60%;
    margin: auto;
    padding: 35px 100px;
    text-align: center;
    margin-top: 70px;
}
.about-header{
color:#181818;
text-align: center;
font-size: 25px;
font-weight: 700;
}
.aboout-info-container{
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}
small{
    color: #757575;
}
.about-title{
    margin-top: 0;
    color: #474747;
}
.para{
    color: #757575;
    font-size: 12px;
    padding: 10px 150px;
}
.wh-para{
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
}
.what-i-do{
    max-width: 70%;
    margin: auto;
    padding: 35px 100px;
}
.what-header{
color:#181818;
font-size: 25px;
font-weight: 700;
margin-bottom: 0;
text-align: center;
}
.all-program-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 22px;
}
.programs{
    box-shadow: 2px 2px 6px grey;
    height: 250px;
    padding: 15px 15px;
}
.pro-para{
color: #757575;
font-size: 12px;
line-height: 28px;
}
.header-sum{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 0;
}
.sumary{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 40px;
}
.educ{
    max-width: 50%;
    margin: auto;
}
.sumary-head{
    color: #474747;
    font-size: 18px;
    font-weight: 700;
}
.ex-edu{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0;
    color: #474747;
}
.ex-para{
    font-size: 12px;
    color: #474747;
    text-align: justify;
    
}
.btn-sumary{
    color:  #FFF;
    text-align: center;
    font-size: 16px;
    border: none;
    background-color: #FD6E0A;
    padding: 5px 15px;
    border-radius: 5px;
}
.butt{
    text-align: center;
    margin-bottom: 20px;
}
.connect-heaer{
    color: #181818;
    font-size: 25px;
}
.connect-para{
    color: #474747;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}
.footer-contaner{
    display: flex;
    background: #FFF8F3;
    justify-content: space-around;
    align-items: center;
    padding: 50px 110px;
}
.connect{
    width: 50%;
}
.social-media{

}