*{
    font-family: 'Open Sans', sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-title{
color: #181818;
font-size: 35px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
span{
    color: #FD6E0A;
}

li {
display: inline;
margin-left: 20px;
color: var(--dark-02, #474747);
font-family: Open Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
li  a{
    text-decoration: none;
    color:#474747;
    
}
.btn-nav{
color: var(--white-color, #FFF);
font-family: Open Sans;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 20px;
border-radius: 3px;
background: #FD6E0A;
border: none;
padding:7px 15px ;
}