*{
    font-family: 'Open Sans', sans-serif;
}
body{
    margin: 0;
    padding:0;
}
.header{
    background-color: #FFF8F3;;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.nav-title{
color: #181818;
font-size: 35px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
span{
    color: #FD6E0A;
}

li {
display: inline;
margin-left: 20px;
color: var(--dark-02, #474747);
font-family: Open Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
li  a{
    text-decoration: none;
    color:#474747;
    
}
.btn-nav{
color: var(--white-color, #FFF);
font-family: Open Sans;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 20px;
border-radius: 3px;
background: #FD6E0A;
border: none;
padding:7px 15px ;
}
.banner{
    margin-left: 85px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn-banner{
text-align: center;
font-family: Open Sans;
font-size: 14px;
font-style: normal;
line-height: normal;
border-radius: 5px;
background: #FD6E0A;
border: none;
padding: 10px 15px;
color: #FFFFFF;
}
.btn-con{
    background: #FFF8F3;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    padding: 10px 15px;
    border-radius: 5px;
}
